<div class="row">
    <div class="col-md-3">
        <!--<span class="hipster img-fluid rounded"></span> -->
        <img class="LogoFut" src="'../../../../content/images/logo-fut.png" alt="Logo FUT">
    </div>

    <div class="col-md-9">
        <h1 class="display-4">FUT - Football Ultimate Team </h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> Bem vindo, {{ account.login }}!.</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span> Tem uma conta? </span>
                <a class="alert-link" (click)="login()">Faça login!</a>
                <span><br />Caso não tenha, entre em contato com o administrator do sistema!</span>
            </div>

        </div>
    </div>
</div>