<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="time">
            <h2>{{ time.nome }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Id</span></dt>
                <dd>
                    <span>{{ time.id }}</span>
                </dd>
                <dt><span>Escudo</span></dt>
                <dd>
                    <!-- <span>{{ time.escudo }}</span>-->
                    <img class="escudo" src="{{time.escudo}}" alt="{{ time.nome }}">
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
            </button>

            <button type="button" [routerLink]="['/time', time.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
            </button>
        </div>
    </div>
</div>